.button {
    display: flex;
    width: 4rem;
    height: 3rem;
    background: #1E4399;
    border-radius: 25px;
    justify-content: center;
    margin-right: 1rem;
}

.globe {
    display: block;
    align-items: center;
    max-width: 2rem;
    margin: auto;
    justify-content: center;
}
